<header class="page-header">
  <div class="header-container container">
    <a class="header-logo">
      <svg width="24" height="24">
        <use href="./images/sprite.svg#icon-film"></use>
      </svg>
      <h1 class="site-name">Filmoteka</h1>
    </a>
    <nav class="navigation">
      <button type="button" class="navigation__button" id="home">HOME</button>
      <button type="button" class="navigation__button" id="library">MY LIBRARY</button>
   
    </nav>
  </div>
  <div class="header-search">
    <form class="search-form">
      <input
        type="text"
        autocomplete="off"
        name="name"
        id="search-box"
        placeholder="Search for movies..."
        class="search-form__input"
      />
      <button type="button" class="search-button">
        <svg width="12" height="12">
          <use href="./images/sprite.svg#icon-search-2"></use>
        </svg>
      </button>
    </form>
    <p class="error-message js-visually-hidden">
      Search result not successful. Enter the correct movie name and
    </p>
  </div>
  <div class="lib-nav">
    <button type="button" class="library-button" id="watched">WATCHED</button>
    <button type="button" class="library-button" id="queue">QUEUE</button>
  </div>
</header>
