.backdrop-team {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  transition: opacity 250ms, visibility 250ms;
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal-team {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(/images/modal_team22.png);
  background-color: transparent;
  width: 350px;
  height: 370px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-top: 117px;
  padding-left: 31px;
  @media screen and (min-width: 768px) {
    padding-top: 230px;
    padding-left: 0px;
    width: 700px;
    height: 700px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 270px;
    padding-left: 67px;
    width: 800px;
    height: 800px;
  }
}
.button-open {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 1px solid #ff6b08;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 5px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    width: 25px;
    height: 25px;
    right: 35px;
    top: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: 40px;
    height: 40px;
    right: 50px;
    top: 30px;
  }
}

.button-open:hover,
.button-open:focus {
  background-color: rgba(252, 170, 116);
  cursor: pointer;
}

.form-team-info {
  padding: 40px;
}
.info {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team_title {
  font-weight: bold;
  font-size: 22px;
  line-height: 23px;
  padding-left: 25px;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 30px;
  text-shadow: 0 5px 15px rgb(255, 107, 8);

  @media screen and (min-width: 768px) {
    padding-left: 150px;
    margin-bottom: 70px;
    font-size: 40px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 70px;
    margin-bottom: 65px;
    font-size: 45px;
  }
}

.modal-close {
  color: tomato;
}

.team_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  padding-left: 0px;
  margin-left: -15px;
  margin-top: -15px;
  @media screen and (min-width: 768px) {
    width: 600px;
    padding-left: 140px;
    margin-left: -10px;
    margin-top: -10px;
  }
  @media screen and (min-width: 1200px) {
    width: 600px;
    padding-left: 110px;
    margin-left: -25px;
    margin-top: -25px;
  }
}

.team_wrap {
  flex-basis: calc(100% / 3 - 15px);
  margin-left: 15px;
  margin-top: 15px;
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 25px);
    margin-left: 25px;
    margin-top: 25px;
  }
}
.team_wrap_info {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    color: #fff;
    padding-left: 30px;
    padding-top: 4px;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 5px 15px rgb(255, 107, 8);
  }
  @media screen and (min-width: 1200px) {
    display: block;
    color: #fff;
    padding-left: 30px;
    padding-top: 4px;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 5px 15px rgb(255, 107, 8);
  }
}

.team_wrap_name {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    color: #000;
    padding-left: 0px;
    font-size: 13px;
    font-weight: bold;
  }
  @media screen and (min-width: 1200px) {
    text-align: center;
  }
}
.test {
  color: #fff;
}

.team_photo {
  margin-left: 13px;
  width: 60px;
  border-radius: 90px;
  &:hover {
    box-shadow: 0 5px 15px rgb(255, 107, 8);
  }
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-left: 23px;
    width: 80px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 13px;
    width: 90px;
  }
}

.close_modal {
  color: #000000;
  font-weight: bold;
  font-size: 10px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}
